/* 这是元件 */
.u-logo{
	width: 108px;
	height: 23px;
	margin: 14px 10px;
}
.u-subnav-1{
	font-size: 24px;
	margin: 10px 4px 10px 10px;
}
.u-subnav-2{
	font-size: 18px;
	font-weight: 600;
	color: #000000;
	margin: 17px 6px 15px 14px;
}
.u-nav-link{
	width: auto;
	height: 49px;
	position: relative;
	margin: 0;
	padding: 17px 7px 9px 9px;
	box-sizing: border-box;
	border: 1px solid #00000000;
}
.u-nav-link-1{
	position: relative;
	margin-top: 1px;
	font-size: 13px;
	font-weight: 400;
	color: #262626;
	line-height: 16.5px;
}
.u-nav-menu{
	height: 51px;
	position: relative;
}
.u-nav-button-menu{
	width: auto;
	height: 48px;
	position: relative;
	margin-top: 1px;
	padding: 16px 5px 16px 13px;
	border: 1px solid #00000000;
	background: #00000000;
	font-size: 13px;
	font-weight: 400;
	color: #000000;
}
.u-nav-button-menu i{
	position: relative;
	left: -3px;
	top: 3px;
}
.u-nav-button-link{
	width: auto;
	height: 33px;
	position: relative;
	margin: 9px 5px;
}
.u-nav-button-link a div{
	position: relative;
	margin: 1px 5px;
	border: 1px solid #000000;
	border-radius: 3px;
	padding: 8px;
	font-size: 13px;
	font-weight: 600;
	color: #262626;
}
.u-nav-button-search{
	width: 90px;
	height: 38px;
	position: relative;
	margin-top: 1px;
	padding: 16px 18px 0 0;
	border: 1px solid #00000000;
	background: #00000000;
	font-size: 13px;
	font-weight: 400;
	color: #262626;
}
.u-nav-sgin{
	width: 80px;
	height: 48px;
	position: relative;
	margin-top: 1px;
	box-sizing: border-box;
	border: 1px solid #00000000;
	background: #00000000;
	padding: 2px 12px 0 21px;
	font-size: 14px;
	font-weight: 400;
	color: #262626;
	
}
.u-button-download{
	width: auto;
	height: auto;
	position: relative;
	margin-top: 0;
	margin: auto;
	display: table;
	padding: 15px 20px;
	background: #0067B8;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 400;
}
.u-button-download i{
	margin-left: 10px;
}

